
body {
    margin: auto;
    max-width: 1280px;
    padding: 10px;
}

a {
    color: #003087;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}

blockquote {
    background-color: #D3D3D3;
    border: 1px solid;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

table {
    border: 2px solid;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #898d8d;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #F1F1F1;
}

td {
    padding: 10px;
    vertical-align: top;
}

td:first-child {
    font-weight: bold;
    text-align: center;
    width: 10%;
}

input[type=text] {
    width: 100%;
    font-size: 16px;
}

textarea {
    width: 100%;
}

label {
    font-size: 14px;
    font-style: italic;
}

#header {
    background: #41b6e6;
    padding: 10px;
    text-align: center;
}
#header .title {
    font-size: 60px;
    text-shadow: 3px 3px #003087;
}
#header a {
    color: white;
}

#menu {
    background: #003087;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
}

#menu .item {
    color: white;
    font-size: 24px;
    padding: 10px;
}

#footer {
    background: #41b6e6;
    padding: 20px;
    text-align: center;
}

#footer p {
    color: white;
    display: block;
    font-size: 20px;
}

#footer .copyright {
    font-weight: bold;
}

.revert ul {
    list-style-type: revert;
    margin: revert;
    padding: revert;
}

.revert li {
    padding: revert;
}

.line {
    background-color: #003087;
    margin: 0 0 5px;
    height: 10px;
}

.button {
    background-color: #41b6e6;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
}

.code {
    background-color: #FFFFCC;
    border: 2px solid;
    text-align: center;
}

.code pre {
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.images table {
    border: none;
}

.images td {
    font-weight: bold;
    text-align: center;
}

.images tr:nth-child(odd) {
    background-color: revert;
}

.images td:first-child {
    width: revert;
}

.images img {
    height: 50%;
    width: 50%;
}

.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    max-width: 1024px;
    padding: 20px;
    width: 80%;
}
.modal-content canvas {
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.wizard-sections {
}

.wizard-section {
    background-color: #EEEEEE;
    display: block;
    margin: 10px;
    padding: 10px;
}

.wizard-header {
    background-color: #D3D3D3;
    border: 1px solid #898d8d;
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.wizard-panel {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "action action"
        "input peek";
    grid-template-columns: 1fr 1fr;
}

.wizard-action {
    grid-area: action;
    padding-top: 10px;
}

.wizard-input {
    background-color: #FFFFCC;
    border: 1px solid #898d8d;
    grid-area: input;
    padding: 20px;
}

.wizard-peek {
    align-items: center;
    background-color: white;
    border: 1px solid #898d8d;
    display: flex;
    grid-area: peek;
    justify-content: center;
    padding: 20px;
}
